[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.*"
pytest = "==5.0.*"
mock = "*"
pytest-mock = "*"
pytest-aiohttp = "*"

[packages]
aiohttp = "==3.5.*"
motor = "==2.0.*"
schematics = "==2.1.*"

[requires]
python_version = "3.7"
